<%= form_for(sighting) do |f| %>
  <% if sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :When %>
    <%= f.datetime_select :When %>
  </div>

  <div class="field">
    <%= f.label :Latitude %>
    <%= f.text_field :Latitude %>
  </div>

  <div class="field">
    <%= f.label :Longitude %>
    <%= f.text_field :Longitude %>
  </div>

  <div class="field">
    <%= f.label :Animal_id %>
    <%= f.text_field :Animal_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
