<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @sighting.When %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @sighting.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sighting.Longitude %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @sighting.Animal.name %>
</p>

<%= link_to 'Edit', edit_sighting_path(@sighting) %> |
<%= link_to 'Back', sightings_path %>
